<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload a Video</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>

    <h1> EMOTION VIDEO </h1>
    

    

    <!-- Display success or error messages -->
    {% if message %}
        <p>{{ message }}</p>
    {% endif %}

    <!-- Form to upload video -->
    <form method="POST" enctype="multipart/form-data" action="/upload">
        <input type="file" name="file" accept="video/*" required>
        <button type="submit">Upload</button>
    </form>

    <h2>Uploaded Videos</h2>
    {% if videos %}
    <ul>
        {% for video in videos %}
            <li>
                <strong>Filename:</strong> {{ video.filename }} <br>
                <strong>Emotion:</strong> {{ video.emotion }}
            </li>
        {% else %}
            <li>No videos uploaded yet.</li>
        {% endfor %}
        </ul>

        <ul>
            {% for video in videos %}
                <li>
                    <strong>Filename:</strong> {{ video.filename }} <br>
                    <strong>Emotion:</strong> {{ video.emotion }} <br>
                    <video width="320" height="240" controls>
                        <source src="{{ url_for('static', filename='uploads/' + video.filename) }}" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>

                     <!-- Add a delete button -->
           <form method="POST" action="{{ url_for('delete_video', filename=video.filename) }}">
            <button type="submit">Delete Video</button>
        </form>
                </li>
            {% else %}
                <li>No videos uploaded yet.</li>
            {% endfor %}
            </ul>
        
    {% else %}
        <p>No videos uploaded yet.</p>
    {% endif %}
</body>
</html>
